<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Academic Unit</title>
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body id="body-two">
<!--<th:block th:include="${sidebar}"></th:block>-->
<div class="main--content academic">
  <div class="header--wrapper">
    <div class="header--title">
      <span>Academic Unit </span>
      <h2>Dashboard</h2>
    </div>

    <div class="user--info">
      <div class="search--box">
        <i class="fa solid fa-search"></i>
        <input type="text" placeholder="Search" />
        <img src="/images/girl.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="main-display">
    <div class="card--container" >
      <div>
        <h3 class="main--title">Insert / Modify Data</h3>
      </div>
<!--              PROGRAM-->
      <div style="display: flex">
        <div class="forms">
          <h2 class="main--title">Add Program</h2>
          <form th:action="@{/acadUnit/createProgram}" method="post"  th:object="${acadUnit}" class="form-one">
            <div class="one">
              <label for="program1">Program Name</label><input type="text" name="program1" id="program1" th:field="*{name}" required/>
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
<!--                            END-->

<!--                        FACULTY-->
        <div class="forms">
          <h2 class="main--title">Add Faculty</h2>
          <form th:action="@{/acadUnit/createFaculty}"  method="post" th:object="${facultyForm}" class="form-one">
            <small class="msg" style="color: darkred;"></small>
            <small class="msg" style="color: green;"></small>
            <div class="last">
              <label for="programme1">Choose Program</label>
              <select name="programme" id="programme1" th:field="*{academicUnit.name}">
                <option value="null">Select Programme</option>
                <th:block th:each="p : ${academicUnitList}">
                  <option th:if="${p.unit.name == 'PROGRAMME'}" th:value="${p.name}">
                    [[${p.name}]]
                  </option>
                </th:block>
              </select>
              <label for="programme1">Faculty Name:</label>
              <label>
                <input type="text" name="fac"  th:field="*{name}" required/>
              </label>
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>
<!--                END-->


<!--                  DEPARTMENT-->
        <div class="forms">
          <h2 class="main--title">Add Department</h2>
          <form th:action="@{/acadUnit/createDepartment}" method="post" th:object="${department}" class="form-one">
            <div class="last">
              <label for="programme1">Choose Program</label>
              <select name="programme"  th:field="*{academicUnit.name}">
                <option value="null">Select Programme</option>
                <th:block th:each="p : ${academicUnitList}">
                  <option th:if="${p.unit.name == 'PROGRAMME'}" th:value="${p.name}">
                    [[${p.name}]]
                  </option>
                </th:block>
              </select>
              <label for="programme2">Choose Faculty</label>
              <select name="parent" id="programme2" th:field="*{academicUnit.name}">
                <option value="null">Select Faculty</option>
                <th:block th:each="fac : ${academicUnitList}">
                  <option th:if="${fac.unit.name() == 'FACULTY'}" th:value="${fac.id}">
                    [[${fac.name}]]
                  </option>
                </th:block>
              </select>
              <div class="one">
                <label>Department Name</label>
                <input type="text" name="depart"  th:field="*{name}" id="department" />
              </div>
              <button type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="tabular--wrapper">
    <h3 class="main--title">Academic Units data</h3>
    <div class="table--container">
      <table>
        <thead>
        <tr>
          <th>CODE</th>
          <th>NAME</th>
          <th>CATEGORY</th>
          <th>UNIT</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="unit:${academicUnitList}">

          <td th:text="${unit.code}"></td>
          <td th:text="${unit.name}"></td>
          <td th:text="${unit.unit}"></td>
          <td>
            <span th:if="${unit.academicUnit}">[[${unit.academicUnit.name}]]</span>
            <span th:unless="${unit.academicUnit}">--Parent--</span>
          </td>
        </tr>


        </tbody>
        <tfoot>
        <tr>
          <td colspan="7">Total: <span th:text="${academicUnitList.size()}"></span></td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
</body>
</html>
