<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8" content="text/html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Semester Dashboard</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body id="body-two">
<div class="sidebar">
    <div class="logo">
        <ul class="menu">
            <li class="active">
                <a href="ListsBySem.html">
                    <i class="fa-solid fa-book-open-reader"></i>
                    <span>Lists</span>
                </a>
            </li>
            <li>
                <a href="academicUnit.html">
                    <i class="fa-solid fa-book-open-reader"></i>
                    <span>Academic Unit</span>
                </a>
            </li>
            <li>
                <a href="semester.html">
                    <i class="fa-solid fa-gauge-high"></i>
                    <span>Semester</span>
                </a>
            </li>
            <li>
                <a href="teacher.html">
                    <i class="fa-solid fa-chalkboard-user"></i>
                    <span>Lecturers</span>
                </a>
            </li>
            <li>
                <a href="CourseDefinition.html">
                    <i class="fa-solid fa-book-open-reader"></i>
                    <span>Courses</span>
                </a>
            </li>
            <li>
                <a href="coursemgt.html">
                    <i class="fa-solid fa-book-open-reader"></i>
                    <span>Course Management</span>
                </a>
            </li>
            <li>
                <a href="student.html">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <span>Students</span>
                </a>
            </li>
            <li>
                <a href="studentRegistration.hmtl">
                    <i class="fa-solid fa-book-open-reader"></i>
                    <span>Student Registration</span>
                </a>
            </li>
            <li>
                <a href="studentCourse.html">
                    <i class="fa-solid fa-book-open-reader"></i>
                    <span>Student courses</span>
                </a>
            </li>


            <li class="logout">
                <a href="Login.html">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <span>Semester </span>
            <h2>Dashboard</h2>
        </div>

        <div class="user--info">
            <div class="search--box">
                <i class="fa solid fa-search"></i>
                <input type="text" placeholder="Search" />
                <img src="../static/images/girl.jpg" alt="" />
            </div>
        </div>
    </div>
    <div class="main-display">
    <div class="card--container">
        <h3 class="main--title">Insert / Modify Data</h3>
        <form th:action="@{/semester/create}"  method="post" th:object="${semester}" class="form-one" >
            <div class="one">
                <label>Semester Name</label>
                <label for="semName"></label>
                <input type="text" id="semName" th:field="*{name}"  required />
            </div>
            <div class="one">
                <label for="startDate">Start date</label>
                <input type="date" id="startDate"  th:field="*{startDate}" required />
            </div>
            <div class="one">
                <label for="endDate">End date</label>
                <input type="date" id="endDate"  th:field="*{endDate}" required />
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="tabular--wrapper">
        <h3 class="main--title">Semester data</h3>
        <div class="table--container">
            <table>
                <thead>
                <tr>
                    <th>SEM NAME</th>
                    <th>START DATE</th>
                    <th>END DATE</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                <tr th:each="sem : ${semestersList}">
                    <td th:text="${sem.getName()}"></td>
                    <td th:text="${sem.getStartDate()}"></td>
                    <td th:text="${sem.getEndDate()}"></td>
                    <td>
                        <div class="cell" data-title="Action">
                            <a th:href="${'/semester/update/' + sem.getId()}">Edit</a>
                            <a th:href="${'/semester/delete/' + sem.getId()}">Delete</a>
                        </div>
                    </td>
                </tr>
                </tr>


                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7">Total:   Semesters</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>
</div>
</body>
</html>
