<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="sidebar">
    <div class="logo">
        <ul class="menu">
            <li class="active">
                <a th:href="@{#}">
                    <i class="fa-solid fa-book-open-reader"></i>
                    <span>Lists</span>
                </a>
            </li>
            <li>
                <a th:href="@{/academicUnit}">
                    <i class="fa-solid fa-book-open-reader"></i>
                    <span>Academic Unit</span>
                </a>
            </li>
            <li>
                <a th:href="@{/semester}">
                    <i class="fa-solid fa-gauge-high"></i>
                    <span>Semester</span>
                </a>
            </li>
            <li>
                <a th:href="@{/teacher}">
                    <i class="fa-solid fa-chalkboard-user"></i>
                    <span>Lecturers</span>
                </a>
            </li>
            <li>
                <a th:href="@{/courseDef}">
                    <i class="fa-solid fa-book-open-reader"></i>
                    <span>Courses Definition</span>
                </a>
            </li>
            <li>
                <a th:href="coursemgt.html">
                    <i class="fa-solid fa-book-open-reader"></i>
                    <span>Course Management</span>
                </a>
            </li>
            <li>
                <a th:href="@{/student}">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <span>Students</span>
                </a>
            </li>
            <li>
                <a th:href="studentRegistration.html">
                    <i class="fa-solid fa-book-open-reader"></i>
                    <span>Student Registration</span>
                </a>
            </li>
            <li>
                <a th:href="studentCourse.html">
                    <i class="fa-solid fa-book-open-reader"></i>
                    <span>Student courses</span>
                </a>
            </li>


            <li class="logout">
                <a th:href="Login.html">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>