
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Dashboard</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body id="body-two">
<th:block th:include="sidebar"></th:block>
<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <span>Student Registration</span>
            <h2>Dashboard</h2>
        </div>

        <div class="user--info">
            <div class="search--box">
                <i class="fa solid fa-search"></i>
                <input type="text" placeholder="Search" />
                <img src="../static/images/girl.jpg" alt="" />
            </div>
        </div>
    </div>
    <div class="main-display">
        <div class="card--container">
            <h3 class="main--title">Insert / Modify Data</h3>

            <form th:action="@{saveRegistration}" method="post" th:object="${regForm}" class="form-one">

                <div class="last">
                    <label for="student">Student</label>
                    <select name="regNo" id="student" th:field="*{student.id}">
                        <option value="null">Select Student</option>
                        <th:block th:each="st : ${studentList}">
                            <option th:value="${st.id}">
                                [[${st.regNo} ]] [[${st.fullNames}]]
                            </option>
                        </th:block>
                    </select>

                    <label for="unit">Select Academic Unit</label>
                    <select name="unit" id="unit" th:field="*{unit.id}">
                        <option value="null">Select Unit</option>
                        <th:block th:each="unit : ${unitList}">
                            <option th:if="${unit.unit.name == 'DEPARTMENT'}" th:value="${unit.id}">
                                [[${unit.name}]]
                            </option>
                        </th:block>
                    </select>
                    <label for="semester">Start Date</label>
                    <select name="semester" id="semester" th:field="*{semester.id}">
                        <option value="null">Select Semester</option>
                        <th:block th:each="sem : ${semList}">
                            <option th:value="${sem.id}">
                                [[${sem.name}]]
                            </option>
                        </th:block>
                    </select>

                    <div class="last">
                        <label>STATUS :</label>
                        <select name="status" id="status">
                            <option value="null">Select Status</option>
                            <option value="PENDING">PENDING</option>
                            <option value="ADMITTED">ADMITTED</option>
                            <option value="REJECTED">REJECTED</option>
                        </select>
                        <label for="regDate">Registration Date</label>
                        <input type="date" name="regDate" id="regDate" required th:field="*{registrationDate}"/>

                    </div>

                </div>

                <input type="submit" id="formBtn" value="Submit" name="action" />
            </form>
        </div>
        <div class="tabular--wrapper">
            <h3 class="main--title">Student Registration Data</h3>
            <div class="table--container">
                <table>
                    <thead>
                    <tr>
                        <th>Student Code</th>
                        <th>Semester </th>
                        <th>Academic unit</th>
                        <th>Date of Registration</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reg: ${registrationList}">
                        <td th:text="${reg.id}" style="display: none;"></td>
                        <td th:text="${reg.student.regNo}"></td>
                        <td th:text="${reg.student.fullNames}"></td>
                        <td th:text="${reg.semester.name}"></td>
                        <td th:text="${reg.registrationDate}"></td>
                        <td th:text="${reg.status.name}"></td>
                        <td>
                            <div class="tdAction">
                                <button class="updateBtn">?</button>
                                <button class="deleteBtn">x</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7">Total: <%= regList.size() %> Semesters</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>


    </div>
</div>
</body>
</html>