<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Dashboard</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/style.css" />

</head>
<body id="body-two">
<th:block th:include="sidebar"></th:block>
<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <span>Students</span>
            <h2>Dashboard</h2>
        </div>

        <div class="user--info">
            <div class="search--box">
                <i class="fa solid fa-search"></i>
                <input type="text" placeholder="Search" />
                <img src="/images/girl.jpg" alt="" />
            </div>
        </div>
    </div>
    <div class="main-display">
        <div class="card--container">
            <h3 class="main--title">Insert / Modify Data</h3>

            <form th:action="@{/student/create}"  id="form" method="post" th:object="${student}" class="form-one" >
               <input type="text" id="studId" style="display: none" th:field="*{id}" >
                <div class="one">
                    <label>Student Code</label>
                    <input type="text"  id="studCode" th:field="*{regNo}"  placeholder="Enter code"  required/>
                </div>
                <div class="one">
                    <label>Student Names</label>
                    <input type="text"  id="studNames" th:field="*{fullNames}"   placeholder="Enter names" required />
                </div>
                <div class="one">
                    <label>Date of Birth</label>
                    <input type="date"  id="dob" th:field="*{dob}"  required />
                </div>
                <input type="submit" id="formBtn" value="Submit"/>
            </form>
        </div>
        <div class="tabular--wrapper">
            <h3 class="main--title">Students data</h3>
            <div class="table--container">
                <table>
                    <thead>
                    <tr>
                        <th>Student Code</th>
                        <th>Full Names</th>
                        <th>Date of Birth</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="stud: ${studentsList}">
                        <td th:text="${stud.getId()}" style="display: none"></td>
                        <td th:text="${stud.getRegNo()}"> </td>
                        <td th:text="${stud.getFullNames()}"> </td>
                        <td th:text="${stud.getDob()}"> </td>
                        <td>
                            <div class="cell" data-title="Action">
                            <a  class="update-btn">Edit</a>
                            <a  class="delete-btn">Delete</a>
                        </div>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7">Total: <span th:text="${studentsList.size()}"></span> Students</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>


    </div>
</div>
</body>
</html>

<script defer>
    const form = document.getElementById("form");
    const studId = document.getElementById("studId");
    const studCode = document.getElementById("studCode");
    const studNames = document.getElementById("studNames");
    const dob = document.getElementById("dob");
    const updateBtn = document.querySelectorAll(".update-btn");
    const deleteBtn = document.querySelectorAll(".delete-btn");
    const formBtn = document.getElementById("formBtn");

    updateBtn.forEach(button => {
        button.addEventListener('click', () => {

            const tr = button.closest("tr");
            const fields = tr.getElementsByTagName("td");

            studId.value = fields[0].textContent;
            studCode.value = fields[1].textContent;
            studNames.value = fields[2].textContent;
            dob.value = fields[3].textContent;

            formBtn.value = "Update";
            formBtn.style.backgroundColor = "skyBlue";

        })
    });

    deleteBtn.forEach(button => {
        button.addEventListener('click', () => {

            const tr = button.closest("tr");
            const fields = tr.getElementsByTagName("td");

            studId.value = fields[0].textContent;
            studCode.value = fields[1].textContent;
            studNames.value = fields[2].textContent;
            dob.value = fields[3].textContent;

            formBtn.value = "Delete";
            formBtn.style.backgroundColor = "Red";

        })
    });
    form.addEventListener("submit",e=>{
        e.preventDefault();
        form.action="/student/create?action="+formBtn.value;
        form.submit();
    })
</script>