<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Dashboard</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body id="body-two">
<th:block th:include="sidebar"></th:block>
<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <span>Teacher</span>
            <h2>Dashboard</h2>
        </div>

        <div class="user--info">
            <div class="search--box">
                <i class="fa solid fa-search"></i>
                <input type="text" placeholder="Search" />
                <img src="/images/girl.jpg" alt="" />
            </div>
        </div>
    </div>
    <div class="main-display">
        <div class="card--container">
            <h3 class="main--title">Insert / Modify Data</h3>

            <form th:action="@{/teacher/create}" method="post"  th:object="${teacher}"  class="form-one">
                <div class="one">
                    <label>Teacher Code</label>
                    <input type="text" th:field="*{code}" id="" placeholder="24**"  required/>
                </div>
                <div class="one">
                    <label>Teacher Name</label>
                    <input type="text" th:field="*{name}" placeholder="PETER" required />
                </div>
<div class="last">
    <label>Qualifications:</label>
    <label>
        <select name="qualification">
            <option value="MASTERS">Masters</option>
            <option value="PHD">Phd</option>
            <option value="PROFESSOR">Professor</option>
        </select>
    </label>
</div>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="tabular--wrapper">
            <h3 class="main--title">Course Def data</h3>
            <div class="table--container">
                <table>
                    <thead>
                    <tr>
                        <th>Teacher Code</th>
                        <th>Teacher Name</th>
                        <th>Qualifications</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tr: ${teacherList}">

                        <td th:text="${tr.getCode()}"></td>
                        <td th:text="${tr.getName()}"></td>
                        <td th:text="${tr.getQualification()}"></td>
                        <td> <div class="cell" data-title="Action">
                            <a th:href="@{'/teacher/update/'+${tr.getId()}}">Edit</a>
                            <a th:href="@{'/teacher/delete/'+${tr.getId()}}">Delete</a>
                        </div>
                    </tr>


                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7">Total: 0  Teachers</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>


    </div>
</div>
</body>
</html>