<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <style>
      body {
        background: url(resources/static/images/mountain.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        color: white;
        display: flex;
        justify-content: center;
      }
      a {
        position: absolute;
        color: white;
        margin-top: 20px;
        margin-left: 200px;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <marquee behavior="slide" direction="right"
        ><h1>Welcome to our beautiful site</h1></marquee
      >
      <a href="Login.html">Back to Login Page</a>
    </div>
  </body>
</html>
